.advantage {
  display: flex;
  justify-content: space-between;
}

.advantage__info {
  max-width: 455px;
  padding: 129px 0 0 52px;
  background-image: svg-load(advantage-title-bg-1.svg);
  background-repeat: no-repeat;
  background-position:  25px 85px;
}

.advantage__title {
  font-size: 35px;
  font-weight: bold;
  line-height: 1.29;
  color: $main-title;
  max-width: 382px;
  padding-bottom: 26px;
}

.advantage__text {
  font-size: 15px;
  line-height: 1.6;

  p {
    margin: 10px 0;
  }
}