.advantages {
  background-color: $light-bg;
  padding: 64px 0 56px ;
  background-image: svg-load(advantages-bg.svg);
  background-repeat: no-repeat;
  background-position: 100% 65%;
}

.advantages__item {
  margin-bottom: 76px;

  :last-child {
    margin-bottom: 0;
  }
}