.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 35px;
}

.footer__link {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}