.header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 30px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  margin: 0 6%;
}

.header__buttons {
  display: flex;
}