.logo {
  display: flex;
  align-items: center;
}

.logo__img {
  flex-shrink: 0;
  width: 68px;
  height: 37px;
}

.logo__text {
  margin-left: 12px;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: -0.35px;
  text-align: right;
  color: $secondary;
}