.promo {
  height: 75vh;
  min-height: 793px;
  background-image: url(~images/bg/promo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.promo__container {
  display: flex;
  height: 100%;
}

.promo__content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}