.reviews {
  background-image: url(~images/bg/reviews-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 40px 0 82px;
}

.reviews__container {
  padding: 0 115px;
}

.reviews__list {
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.reviews__item {
  width: 300px;
}

.reviews__title {
  color: $secondary;
  max-width: 384px;
  margin: 0 auto 50px;
}

.reviews__list {
  display: flex;
}