.slider {
  width: 100%;
}

.slider__content {
  display: flex;
  justify-content: space-between;
}

.slider__title {
  font-weight: bold;
  font-size: 45px;
  line-height: 1.33;
}

.slider__subtitle {
  margin-top: 20px;
  font-size: 24px;
}

.slider__button {
  margin-top: 70px;
}

.slider__left {
  max-width: 505px;
  color: $secondary;
}

.slider__right {
  margin:  10px 82px 0 0;
}

.slider__img {
  max-width: 516px;
  width: 100%;
}