section.advantages
  .container
    ul.advantages__list
      li.advantages__item
        .advantage
          .advantage__info
            .advantage__title
              | Experienced Designers & Developers
            .advantage__text
              p Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa.
              p Vestibulum sed metus in lorem tristique ullamcorper id vitae erat.
          .advantage__image
            +image('content/advantage-img-1.png', 'advantage__img')