section.advantages
  .container
    ul.advantages__list
      li.advantages__item
        .advantage
          .advantage__info
            .advantage__title
              | Experienced Designers & Developers
            .advantage__text
              p Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa.
              p Vestibulum sed metus in lorem tristique ullamcorper id vitae erat.
          .advantage__image
            +image('content/advantage-img-1.png', 'advantage__img')
      li.advantages__item
        .advantage.advantage_right
          .advantage__info
            .advantage__title
              | Information Architect & Visual Prototyping
            .advantage__text
              p Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa.
              p  Vestibulum sed metus in lorem tristique ullamcorper id vitae erat. Nulla mollis sapien sollicitudin lacinia lacinia. Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa
          .advantage__image
            +image('content/advantage-img-2.png', 'advantage__img')
      li.advantages__item
        .advantage
          .advantage__info.advantage__info_bg
            .advantage__title
              | Idea Generation & Foundation
            .advantage__text
              p Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa. Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa
          .advantage__image
            +image('content/advantage-img-3.png', 'advantage__img')