footer.footer
  .container.footer__container
    .footer__links
      a(href="#").footer__link О Martaup
      a(href="#").footer__link Помощь
      a(href="#").footer__link Политика конфиденциальности
    .footer__copy
      | © 2013-2020 Все права защищены.