footer.footer
  .container.footer__container
    .footer__links
      a(href="#").footer__link About Martaup
      a(href="#").footer__link Help
      a(href="#").footer__link Privacy Policy
    .footer__copy
      | © 2013-2018 All rights reserved.