header.header
  .container.header__container
    .header__logo
      a.logo(href="#")
        .logo__img
          +icon('logo', 'logo__icon')
        .logo__text MartaUP
    .header__menu
      nav.menu
        - var menu = [{ title: 'home', url: '#' }, { title: 'work', url: '#' }, { title: 'about', url: '#' }, { title: 'contact', url: '#' }];
        ul.menu__list
          each item in menu
            li.menu__item
              a.menu__link(href=item.url) #{item.title}
    .header__buttons
      button.btn-text.btn-text_margin(type='button') Login
      button.btn(type='button') Sign Up