section.promo
  .container.promo__container
    .promo__content
      ul.slider
        li.slider__item
          .slider__content
            .slider__left
              h3.slider__title
                | Мы создаём приложения и сайты для вашего бизнеса
              .slider__subtitle
                | Для стартапов, для бизнеса и для вас
              .slider__button
                button(type='button').btn.btn_color-yellow.btn_color-yellow отправить заявку
            .slider__right
              .slider__image
                +icon('slider-img-1', 'slider__img')
        li.slider__item
          .slider__content
            .slider__left
              h3.slider__title
                | Мы создаём приложения и сайты для вашего бизнеса
              .slider__subtitle
                | Для стартапов, для бизнеса и для вас
              .slider__button
                button(type='button').btn.btn_color-yellow.btn_color-yellow отправить заявку
            .slider__right
              .slider__image
                +icon('slider-img-1', 'slider__img')
        li.slider__item
          .slider__content
            .slider__left
              h3.slider__title
                | Мы создаём приложения и сайты для вашего бизнеса
              .slider__subtitle
                | Для стартапов, для бизнеса и для вас
              .slider__button
                button(type='button').btn.btn_color-yellow.btn_color-yellow отправить заявку
            .slider__right
              .slider__image
                +icon('slider-img-1', 'slider__img')
        li.slider__item
          .slider__content
            .slider__left
              h3.slider__title
                | Мы создаём приложения и сайты для вашего бизнеса
              .slider__subtitle
                | Для стартапов, для бизнеса и для вас
              .slider__button
                button(type='button').btn.btn_color-yellow.btn_color-yellow отправить заявку
            .slider__right
              .slider__image
                +icon('slider-img-1', 'slider__img')
        li.slider__item
          .slider__content
            .slider__left
              h3.slider__title
                | Мы создаём приложения и сайты для вашего бизнеса
              .slider__subtitle
                | Для стартапов, для бизнеса и для вас
              .slider__button
                button(type='button').btn.btn_color-yellow.btn_color-yellow отправить заявку
            .slider__right
              .slider__image
                +icon('slider-img-1', 'slider__img')