section.reviews
  .container.reviews__container
    h4.reviews__title.title
      | Don’t Just Take Our Words
    ul.reviews__list
      li.reviews__item
        .review
          .review__header
            .review__avatar
              .avatar
                +image('content/avatar-1.jpg', 'avatar__img')
            .review__user-info
              .review__name
                | Arakat Bank
              .review__position
                | International Bank Ltd.
          .review__body
            .review__text
              | Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum.
      li.reviews__item
        .review
          .review__header
            .review__avatar
              .avatar
                +image('content/avatar-2.jpg', 'avatar__img')
            .review__user-info
              .review__name
                | Chrsitopher Company Ltd.
              .review__position
                | Design & Development
          .review__body
            .review__text
              | Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum.
      li.reviews__item
        .review
          .review__header
            .review__avatar
              .avatar
                +image('content/avatar-3.jpg', 'avatar__img')
            .review__user-info
              .review__name
                | Jigsawlab Studio Inc.
              .review__position
                | Interactive Prototyping
          .review__body
            .review__text
              | Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum.
