section.reviews
  .container.reviews__container
    h4.reviews__title.title
      | Поверьте не только нашим словам
    ul.reviews__list
      li.reviews__item
        .review
          .review__header
            .review__avatar
              .avatar
                +image('content/avatar-1.jpg', 'avatar__img')
            .review__user-info
              .review__name
                | Банк Аракат 
              .review__position
                | ООО "Международный Банк"
          .review__body
            .review__text
              | Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum.
      li.reviews__item
        .review
          .review__header
            .review__avatar
              .avatar
                +image('content/avatar-2.jpg', 'avatar__img')
            .review__user-info
              .review__name
                | ООО "Кристофер"
              .review__position
                | Дизайн и разработка
          .review__body
            .review__text
              | Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum.
      li.reviews__item
        .review
          .review__header
            .review__avatar
              .avatar
                +image('content/avatar-3.jpg', 'avatar__img')
            .review__user-info
              .review__name
                | Студия Jigsawlab
              .review__position
                | Интерактивное прототипирование
          .review__body
            .review__text
              | Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum.
