section.specialised
  .container.specialised__container
    .specialised__title.title
      | Мы специализируемся на
    ul.specialised__list
      li.specialised__item
        .specialised__item-image
          +icon('specialised-img-1', 'specialised__item-img')
        .specialised__item-title
          | UI/UX дизайн
        .specialised__item-text
          | In hac habitasse platea dictumstmus adipiscing fermentum quam volutpat aliquam. Integer cilisis tristique.
      li.specialised__item
        .specialised__item-image
          +icon('specialised-img-2', 'specialised__item-img')
        .specialised__item-title
          | Веб-разработка
        .specialised__item-text
          | In hac habitasse platea dictumstmus adipiscing fermentum quam volutpat aliquam. Integer cilisis tristique.
      li.specialised__item
        .specialised__item-image
          +icon('specialised-img-3', 'specialised__item-img')
        .specialised__item-title
          | Разработка приложений
        .specialised__item-text
          | In hac habitasse platea dictumstmus adipiscing fermentum quam volutpat aliquam. Integer cilisis tristique.