include templates/mixins

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title MartaUp
  body
    .wrapper 
      include templates/blocks/header
      include templates/blocks/promo
      include templates/blocks/specialised
      include templates/blocks/advantages
      include templates/blocks/reviews
      include templates/blocks/footer